<form
  (submit)="triggerAction()"
  #feedform="ngForm"
  novalidate
  style="width: 100%"
>
  <h2 style="text-align: center">{{ title }}</h2>

  <div>
    <mat-form-field style="width: 100%">
      <mat-label>Username</mat-label>
      <textarea
        id="usernameInput"
        #name="ngModel"
        name="username"
        matInput
        pattern="^[A-Za-z0-9]{8,50}$"
        cdkTextareaAutosize
        placeholder="Username must contain between 8 and 50 characters and can contain only letters and digits"
        [(ngModel)]="user.username"
        style="height: 40%"
      ></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style="width: 100%">
      <mat-label>Password</mat-label>
      <input
        id="passwordInput"
        #name2="ngModel"
        name="password"
        type="password"
        matInput
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@#$%^&+=])[A-Za-z\d@#$%^&+=].{8,50}"
        cdkTextareaAutosize
        placeholder="Password must contain between 8 and 50 characters, it must include lower-case and upper-case letters, digits and special characters (@#$%^&+=)"
        [(ngModel)]="user.password"
        style="height: 40%"
      />
    </mat-form-field>
  </div>

  <div style="text-align: center; margin-top: 50px">
    <button
      id="loginButton"
      [disabled]="name.invalid || name2.invalid"
      mat-raised-button
      color="primary"
      type="submit"
      style="padding: 12px 32px; opacity: 120%"
    >
      {{ action }}
    </button>
  </div>
</form>
