<div style="padding-top: 10%">
  <mat-card
    style="width: 50%; margin-left: 25%; opacity: 80%; padding-bottom: 3%"
  >
    <form>
      <h1 style="text-align: center">Create your store</h1>
      <mat-form-field style="width: 80%; margin-bottom: 3%">
        <mat-label>Name</mat-label>
        <textarea
          id="nameeInput"
          #name="ngModel"
          name="namee"
          matInput
          pattern="^[A-Za-z0-9 ]{1,50}$"
          placeholder="Store name can have up to 50 characters and can contain letters, digits and blank spaces"
          cdkTextareaAutosize
          [(ngModel)]="namee"
          style="height: 40%"
        ></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        id="createButton"
        (click)="create()"
        color="primary"
        type="button"
        style="padding: 8 3px; width: 50%; height: 50px"
        [disabled]="name.invalid"
      >
        Create
      </button>
    </form>
  </mat-card>
</div>
