<div class="div1">
  <mat-card class="card1">
    <form (submit)="bla()" #feedform="ngForm" style="width: 80%" novalidate>
      <h2 style="text-align: center">Select Payment Service:</h2>
      <div style="text-align: center; margin-top: 50px">
        <button
          id="cardButton"
          [disabled]="!card"
          *ngIf="card"
          mat-raised-button
          color="primary"
          type="button"
          (click)="cardPayment()"
          style="padding: 12px 32px; opacity: 120%; width: 50%"
        >
          Card Payment
        </button>
      </div>
      <div style="text-align: center; margin-top: 50px">
        <button
          id="paypalButton"
          *ngIf="paypal"
          [disabled]="!paypal"
          mat-raised-button
          color="primary"
          type="button"
          (click)="paypalPayment()"
          style="padding: 12px 32px; opacity: 120%; width: 50%"
        >
          PayPal
        </button>
      </div>
      <div style="text-align: center; margin-top: 50px">
        <button
          id="qrButton"
          *ngIf="qrcode"
          [disabled]="!qrcode"
          mat-raised-button
          color="primary"
          type="button"
          style="padding: 12px 32px; opacity: 120%; width: 50%"
          (click)="qrcodePayment()"
        >
          QR Code
        </button>
      </div>
      <div style="text-align: center; margin-top: 50px; margin-bottom: 30px">
        <button
          id="bitcoinButton"
          *ngIf="bitcoin"
          [disabled]="!bitcoin"
          mat-raised-button
          color="primary"
          type="button"
          style="padding: 12px 32px; opacity: 120%; width: 50%"
          (click)="bitcoinPayment()"
        >
          Bitcoin
        </button>
      </div>
    </form>
    <div *ngIf="image">
      <h3 style="text-align: center; font-weight: 500">Scan QR code to pay:</h3>
      <img
        [src]="imageurl"
        style="display: block; margin-left: auto; margin-right: auto"
      />
      <button
        mat-raised-button
        type="button"
        style="
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
          padding: 12px 32px;
          background-color: rgb(61, 126, 9);
          color: white;
        "
        (click)="showMessage()"
      >
        Proceed to Payment Confirmation
      </button>
    </div>
  </mat-card>
</div>
